@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "TEST SERVICE" } })
    <div class="page-header bottom-shadow">
        <h3>TEST SERVICE</h3>
        <p>It’s free and always will be.</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<div class="contact-form-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="section-header">
                    <h3>Test Service</h3>
                </div>
                <div class="contact-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="phone" class="col-md-4">Phone</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="phone" placeholder="enter your phone" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="content" class="col-md-4">Content</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="content" placeholder="enter your Content" required></textarea>
                            </div>
                        </div>
                        <div class="drop-line bottom-shadow"></div>
                        <div class="form-group">
                            <a title="Or Return to Shop" href="#">Or Return to Shop</a>
                            <input type="submit" value="Test Service" class="btn btn-default  pull-right">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>