@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["UserC"] as CMS_DTO.CMSCustomer.CustomerModels;
}
}
<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "PROFILE" } })
    <div class="page-header bottom-shadow">
        <h3>Profile</h3>
        <p>It’s free and always will be.</p>
        @if (user != null)
        {
            <p><a href="@Url.Action("Index","ChangePassword")">Change Password</a></p>
        }
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->
<div class="contact-form-details">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Profile</div>
            <div class="panel-body">
                <div class="row">
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Lịch sử nạp</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Full name</th>
                                <th>
                                    Deposit Wallet
                                </th>
                                <th>
                                    Package Name
                                </th>
                                <th>
                                    SMS
                                </th>
                                <th>
                                    SMS/VND
                                </th>
                                <th>
                                    Package Price (USD)
                                </th>
                                <th>
                                    Pay
                                </th>
                                <th>
                                    Coin
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="11" style="text-align:center">No content</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Lịch sử nạp - Marketing</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Customer
                                </th>
                                <th>
                                    Nội dung
                                </th>
                                <th>
                                    Gửi đến
                                </th>
                                <th>
                                    Mạng
                                </th>
                                <th>
                                    Phí (sms)
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Time input
                                </th>
                                <th>
                                    Sim gửi
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="9" style="text-align:center">No content</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Lịch sử nạp - OPT</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Customer
                                </th>
                                <th>
                                    Nội dung
                                </th>
                                <th>
                                    Gửi đến
                                </th>
                                <th>
                                    Mạng
                                </th>
                                <th>
                                    Phí (sms)
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Time input
                                </th>
                                <th>
                                    Sim gửi
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="9" style="text-align:center">No content</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>