/CMS-Web/bin
/CMS-Web/obj
/CMS-API/bin
/CMS-API/obj
/CMS-DTO/obj
/CMS-DTO/bin
/CMS-Entity/obj
/CMS-Entity/bin
/CMS-Service/bin
/CMS-Service/obj
/CMS-Shared/bin
/CMS-Shared/obj
*.csproj
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.log