<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hierarchySection" type="CMS_Entity.Initialization.HierarchySection, CMS-Entity" requirePermission="false" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>
  <hierarchySection>
    <!-- ProductType Configurtion -->
    <Employees>
      <add Email="admin@gmail.com"/>
    </Employees>

  </hierarchySection>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>