@{
    Layout = null;
}
<div class="page-breadcrumb">
    <ol class="breadcrumb">
        <li><a title="Home" href="@Url.Action("Index","Home")">@Model["A"]</a></li>
        <li class="active">@Model["B"]</li>
    </ol>
    <div class="return-home-link pull-right">
        <a title="Return to home page" href="@Url.Action("Index","Home")">Home</a>
    </div>
</div>
