@{
    Layout = null;
}
<!-- Footer Section -->
<div id="footer-section" class="footer-section">
    <!-- Footer bottom -->
    <div class="footer-bottom">
        <!-- container -->
        <div class="container">
            <div class="col-md-3 col-sm-3 top-header">
                <ul class="top-social ">
                    <li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a title="Pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 copy-rights">
                <p> WebStrot&copy; 2015 Luxury Shop - HTML Template. </p>
            </div>
        </div><!-- container /- -->
        <a title="Back-to-top" id="back-to-top" href="#back-to-top" class="back-to-top"><i class="fa fa-caret-up"></i></a>
    </div><!-- Footer Bottom -->
</div><!-- Footer Section /- -->
