@{
    Layout = null;
}
<!-- Footer Section -->
<div id="footer-section" class="footer-section">
    <!-- Add Banner -->
    @*<div id="add-banner-section" class="add-banner-section bottom-shadow">
        <!-- container -->
        <div class="container">
            <a title="Add-banner" href="#"><img src="images/add-banner-2.jpg" alt="add-banner" /></a>
        </div><!-- container /- -->
    </div><!-- Add Banner /- -->*@
    <!-- Our Partner -->
    <div id="our-partner-section" class="our-partner-section bottom-shadow">
        <!-- container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header">
                <h3>Partners with us</h3>
                <p>If you’re trying to achieve, there will be roadblocks. I’ve had them; everybody has had them. But obstacles don’t have to stop you. If you run into a wall, don’t turn around and give up. Figure out how to climb it, go through it, or work around it.</p>
            </div><!-- Section Header /- -->
            <!-- Owl Carousel -->
            <div id="our-partner" class="owl-carousel owl-theme our-partner">
                <div class="item">
                    <a title="Partner" href="#" class="partner-box">
                        <img src="images/partner/partner-1.png" alt="partner-1" />
                    </a>
                </div>
                <div class="item">
                    <a title="Partner" href="#" class="partner-box">
                        <img src="images/partner/partner-2.png" alt="partner-1" />
                    </a>
                </div>
                <div class="item">
                    <a title="Partner" href="#" class="partner-box">
                        <img src="images/partner/partner-3.png" alt="partner-1" />
                    </a>
                </div>
                <div class="item">
                    <a title="Partner" href="#" class="partner-box">
                        <img src="images/partner/partner-4.png" alt="partner-1" />
                    </a>
                </div>
                <div class="item">
                    <a title="Partner" href="#" class="partner-box">
                        <img src="images/partner/partner-1.png" alt="partner-1" />
                    </a>
                </div>
                <div class="item">
                    <a title="Partner" href="#" class="partner-box">
                        <img src="images/partner/partner-2.png" alt="partner-1" />
                    </a>
                </div>
            </div><!-- Owl Carousel /- -->
        </div><!-- container /- -->
    </div><!-- Our Partner /- -->
    <!-- News Letter -->
    <div id="news-letter-section" class="news-letter-section">
        <!-- container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header">
                <h3>Sign up for our Newsletter</h3>
            </div><!-- Section Header /- -->
            <!-- col-md-3 -->
            <div class="col-md-3"></div><!-- col-md-3 /- -->
            <!-- col-md-6 -->
            <div class="col-md-6">
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="your-email@website.com" required />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div><!-- col-md-6 /- -->
            <!-- col-md-3 --><div class="col-md-3"></div><!-- col-md-3 /- -->
        </div><!-- container /- -->
    </div> <!-- News Letter /- -->
    <!-- informational-icons -->
    <div class="informational bottom-shadow">
        <!-- container -->
        <div class="container">
            <ul class="informational-icons">
                <li>
                    <span><i class="fa fa-automobile"></i></span>
                    <span>Free Shipping</span>
                </li>
                <li>
                    <span><i class="fa fa-comments-o"></i></span>
                    <span>24/7 Support</span>
                </li>
                <li>
                    <span><i class="fa fa-bitcoin"></i></span>
                    <span>Promotions</span>
                </li>
                <li>
                    <span><i class="fa fa-gavel"></i></span>
                    <span>Top Seller</span>
                </li>
            </ul>
        </div><!-- container /- -->
    </div><!-- informational-icons /- -->
    <!-- widget section -->
    <div class="widget-section bottom-shadow">
        <!-- container -->
        <div class="container">
            <!-- widget about -->
            <aside class="col-md-3 col-sm-3 widget widget_about">
                <h3 class="widget-title logo-block">
                    <a title="Logo" href="index.html">
                        SMS4API
                    </a>
                </h3>
                <div class="address">
                    <h4>
                        <span><i class="fa fa-home">&nbsp;&nbsp;</i></span>Envato Headquarterss
                    </h4>
                    <p>121 King Street, Melbourne </p>
                    <p>Victoria 3000 Australia</p>
                </div>
                <div class="helpline">
                    <h4><span><i class="fa fa-phone">&nbsp;&nbsp;</i></span>Help Lines</h4>
                    <p>+84 935 192 079</p>
                    <p>+84 935 192 079</p>
                </div>
            </aside><!-- widget about /- -->
            <!-- col-md-6 -->
            <div class="col-md-6 col-sm-6">
                <aside class="col-md-4 col-sm-4 widget widget_list_style">
                    <h3 class="widget-title">
                        GET INSPIRED
                        <span>from our store</span>
                    </h3>
                    <ul>
                        <li><a title="Shoes" href="javascript:void(0);">Shoes</a></li>
                        <li><a title="Perfumes" href="javascript:void(0);">Perfumes</a></li>
                        <li><a title="Bags" href="javascript:void(0);">Bags</a></li>
                        <li><a title="Make Up" href="javascript:void(0);">Make Up</a></li>
                        <li><a title="Jewelry" href="javascript:void(0);">Jewelry</a></li>
                        <li><a title="Clothing" href="javascript:void(0);">Clothing</a></li>
                    </ul>
                </aside>

                <aside class="col-md-4 col-sm-4 widget widget_list_style">
                    <h3 class="widget-title">
                        ACCOUNT
                        <span>informative details</span>
                    </h3>
                    <ul>
                        <li><a title="Order Status" href="javascript:void(0);">Order Status</a></li>
                        <li><a title="My Order History" href="javascript:void(0);">My Order History</a></li>
                        <li><a title="My Favorites" href="javascript:void(0);">My Favorites</a></li>
                        <li><a title="Promo codes" href="javascript:void(0);">Promo codes</a></li>
                        <li><a title="Payments" href="javascript:void(0);">Payments</a></li>
                        <li><a title="Returns" href="javascript:void(0);">Returns</a></li>
                    </ul>
                </aside>

                <aside class="col-md-4 col-sm-4 widget widget_list_style">
                    <h3 class="widget-title">
                        OUR SHOPS
                        <span>store locations</span>
                    </h3>
                    <ul>
                        <li><a title="Mumbai" href="javascript:void(0);">Mumbai</a></li>
                        <li><a title="INDORE" href="javascript:void(0);">INDORE</a></li>
                        <li><a title="Toronto" href="javascript:void(0);">Toronto</a></li>
                        <li><a title="Sidney" href="javascript:void(0);">Sidney</a></li>
                        <li><a title="New York" href="javascript:void(0);">New York</a></li>
                        <li><a title="Paris" href="javascript:void(0);">Paris</a></li>
                    </ul>
                </aside>
            </div><!-- col-md-6 /- -->

            <aside class="col-md-3 col-sm-3 widget widget_facebook">
                <div class="widget-title">
                    <h4>Web  <span>786,000 members </span></h4>
                    <button type="submit" value="like" class="btn btn-default pull-right">Like <i class="fa fa-thumbs-o-up"></i> </button>
                </div>
                <ul>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-1.jpeg" alt="facebook-photo" /></a></li>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-2.jpeg" alt="facebook-photot" /></a></li>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-3.jpeg" alt="facebook-photo" /></a></li>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-4.jpeg" alt="facebook-photo" /></a></li>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-5.jpeg" alt="facebook-photo" /></a></li>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-6.jpeg" alt="facebook-photo" /></a></li>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-7.jpeg" alt="facebook-photo" /></a></li>
                    <li><a title="Facebook photo" href="javascript:void(0);"><img src="/images/facebook/fb-8.jpeg" alt="facebook-photo" /></a></li>
                </ul>
                <a href="#"> facebook page </a>
            </aside>
        </div><!-- container /- -->
    </div><!-- widget section /- -->
    <!-- Footer bottom -->
    <div class="footer-bottom">
        <!-- container -->
        <div class="container">
            <div class="col-md-3 col-sm-3 top-header">
                <ul class="top-social ">
                    <li><a title="Facebook" href="https://www.facebook.com/sms4api/?notif_id=1552907371363141&notif_t=page_admin&ref=notif" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a title="Twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                    <li><a title="Google plus" href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                    <li><a title="Pinterest" href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 copy-rights">
                <p> @DateTime.Now.Year Tran Thanh Thanh </p>
            </div>
        </div><!-- container /- -->
        <a title="Back-to-top" id="back-to-top" href="#back-to-top" class="back-to-top"><i class="fa fa-caret-up"></i></a>
    </div><!-- Footer Bottom -->
</div><!-- Footer Section /- -->
