@{
    Layout = null;
}

<section class="breadcrumb-area overlay-2 bg-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h3>@Model["B"]</h3>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">@Model["A"]</a></li>
                            <li>@Model["B"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>