@using CMS_Shared;

<div class="">
    <div class="footer-widget-area bg-3 overlay-2 pt-100 pb-85 fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer-widget">
                        <h3>About Us</h3>
                        <p class="margin">Lorem ipsum dolor sit amet, consectetur sit adipiscing elit sit Etiam at dictum enim. elit Integer non suscipit, et auctor.</p>
                        <p>Nunc lobortis eu nunc in facilisis. Nullam urna , maximus at euismod non, </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 hidden-sm col-xs-12">
                    <div class="single-footer-widget">
                        <h3>Contact us</h3>
                        <span class="c-info"><i class="zmdi zmdi-email"></i>lorem@gmail.com</span>
                        <span class="c-info"><i class="zmdi zmdi-phone"></i>(+222 333 5555)</span>
                        <span class="c-info"><i class="zmdi zmdi-home"></i>Your Address Here</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-footer-widget">
                        <h3>open hours</h3>
                        <p>
                            Lorem ipsum dolor sit amet,  tore latthi dimu consectetueiusmodm dost
                        </p>
                        <span class="open-time">Monday- Friday . . . . . . . . . . .8 AM - 5PM</span>
                        <span class="open-time">Sunday. . . . . . . . . . . . . . . . . 12 AM - 5PM</span>
                        <span class="open-time">Saturday . . . . . . . . . . . . . . . . . . . . . .Close</span>
                    </div>
                </div>
                <div class="col-lg-3 hidden-md hidden-sm col-xs-12">
                    <div class="single-footer-widget">
                        <h3>newsletter</h3>
                        <div class="newsletter-form">
                            <form action="#" id="mc-form" class="mc-form fix">
                                <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                                <button id="mc-submit" type="submit" class="default-btn"><span>send</span></button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                        <div class="footer-links">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-rss"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-text-area fix bg-koffee ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center">
                        <span>&copy; <a href="#">Hastech</a> 2017. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
